
body {
  font-family: Questrial, sans-serif;
  text-align: center;
}

.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

/* Style the counter cards */
.card {
  width: 30%;
  padding: 2%;
  margin:1%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  box-sizing: border-box;
  background: rgb(179, 179, 179);
}

.card-content{
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 0;
}

.card-content p {
  flex: 1 0 auto;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 2%;
  }
}

  @media screen and (max-width: 600px) {
  .card {
  width: 75%;

}

}
