/* * {
  box-sizing: border-box;
} */

body {
  font-family: Questrial, sans-serif;
}


.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}


/* Style the counter cards */
.card {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  box-sizing: border-box;
  padding: 10px;
  margin: 2%;
  text-align: center;
  background: rgb(179, 179, 179);
}

@media screen and (max-width: 700px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}