* {
  box-sizing: border-box;
}

body {
  font-family: Questrial, sans-serif;
}

/* Float four columns side by side */
.column {

}

/* Remove extra left and right margins, due to padding in columns */
.row {
  display: flex;
  
}


/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

@media screen and (max-width: 700px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}