a{
   color: rgb(88, 87, 87);
   font-weight:bold
}

a:hover{
   color: #FFD300;
}

.toggle4{
  display: none;
}

.lbl-toggle4 {
  display: block;

  font-size: 1.2rem;
  text-align: center;

  padding: 1rem;

  color: white;
  background:  rgb(179, 179, 179);;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}


.lbl-toggle4:hover {
   background: #FFD300
}

.toggle4:checked+ .lbl-toggle4{
    background: #FFD300
}

.lbl-toggle4::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle4:checked + .lbl-toggle4::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content4 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle4:checked + .lbl-toggle4 + .collapsible-content4 {
  max-height: 100vh;
}

.toggle4:checked + .lbl-toggle4 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content4 .content-inner4 {
  background:  rgb(179, 179, 179, 0.8);
  border-bottom: 1px solid  rgb(88, 87, 87);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}