body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 101vw;
  height: 101vh;
  z-index: -10;
  background: url('./src/Images/reelImage.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}