.App {
  text-align: center;
  /* font-family: Quicksand, sans-serif; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #00acee;
  min-height: 7vw;
  max-height: 8vw;
  display: flex;
  flex-direction: column;
  padding: 1%;
}


#Icon{
  text-align: left;
  max-height:25% ;
}

#SiteTitle{
   color: white;
   text-align: left;
   font-size: 300%;
   font-family: Lobster, monospace;
   /* position: absolute; */
   padding-left: 7%;
   padding-bottom: 10%
}





