.App {
  text-align: center;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .Icon{
    margin-top: 10vmin
  }
  .SiteTitle{
    margin-bottom: 20vmin
  }
} */

.App-header {
  background-color: #00acee;
  min-height: 8vw;
  max-height:20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SiteTitle{
  font-size: calc(25px + 2vw);
  color: white;
  display:inline-block;
  padding: 1vmin;


}

.Icon{
  display:inline-block;
  padding:1vmin;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}