.App {
  text-align: center;
}

@media (max-width: 700px)  {
  #Icon{
    display: none;
    
  }

}

@media (min-width: 701px)  {
  #Icon{
    display:inline-block;
    height: inherit;
    width:auto;
    padding:1vmin;
  
  }

  .SiteTitle{
    display:inline-block;
    padding:1vmin;
  }

}


.App-header {
  background-color: #00acee;
  min-height: 8vw;
  max-height:20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SiteTitle{
  font-family: Lobster, sans-serif;
  font-size: calc(25px + 2vw);
  color: white;
  display:inline-block;
  padding: 1vmin; 
}

#SiteName{
  font-family: Lobster, sans-serif;
  font-size: calc(18px + 1vw) !important;
}

.Icon{
  display:inline-block;
  padding:1vmin;
}