ul{
    vertical-align: center;
    list-style-position:inside;
    list-style-type: none;
}

li{
    margin-left: -3em;
}

@media screen and (max-width: 800px) {
  li {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }
}
