.page-container {
  position: absolute;
  background-color: rgba(255,255,255, 0.8);
  position: relative;
  min-height: 100vh;
}

.content-container {
 padding-bottom: 3rem;
}

.App {
  text-align: center;
}

.App-header {
  opacity: 1;
  background-color: #FFD300;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.5rem;
  width: 100%;
  text-align: left;
  margin-left:1%;
  margin-top:.5%;
}

.FAQ{
  color: rgb(88, 87, 87);
  margin-left: 1%;
}

.FAQ:link {
  color: rgb(88, 87, 87);
  
}

.FAQ:hover {
  color:#FFD300;
}

.Contact {
  color: rgb(88, 87, 87);
  margin-left: 1%;
}

.Contact:link {
  color: rgb(88, 87, 87);
  
}

.Contact:hover {
  color:#FFD300;
}

.Home {
  color: rgb(88, 87, 87);
  margin-left: 1%;
}

.Home:link {
  color: rgb(88, 87, 87);
}

.Home:hover {
  color:#FFD300;
}

.SiteTitle{
  font-family: Lobster, sans-serif;
  font-size: calc(25px + 2vw);
  color: white;
  display:inline-block;
  padding: 1vmin; 
}

.SiteTitle:hover{
  color: white;
  text-shadow: -.5px -.5px 0 #000, .5px -.5px 0 #000, -.5px .5px 0 #000, .5px .5px 0 #000;
}

#SiteName{
  font-family: Lobster, sans-serif;
  font-size: calc(18px + 1vw) !important;
}

.Icon{
  display:inline-block;
  padding:1vmin;
}

@media (max-width: 750px)  {
   #Icon{
    display: none;
    
  } 

  .App-footer{
    text-align: center;
  }

  .FAQ{
    margin-left: 8%;
  }
  .Contact{
    margin-left: 8%;
  }

   .Home{
    margin-right: 0%;
  }
}

@media (min-width: 751px)  {
  #Icon{
    display:inline-block;
    height: inherit;
    width:auto;
    padding:1vmin;
  
  }

  .SiteTitle{
    display:inline-block;
    padding:1vmin;
  }

}