#Loading{
    border: 10px solid #f0a500;
    width: 20em;
    height: 10em

}

@media screen and (max-width: 500px) {
  #Loading {
   border: 10px solid #f0a500;
    width: 15em;
    height: 8em
  }
}