
#heading{
  font-size: calc(18px + 1vw);
  font-family: Questrial, sans-serif
}

.mediaHeading{
  font-size: 2vw; 
  font-weight: 1000;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 2vw; /* a */
  max-height: 2vw; 
}

#wow{
    font-family: Lobster, sans-serif;
    font-size: calc(16px + 2vw) !important;
}


#text{
  font-size: calc(12px + .6vw);
  font-family: Questrial, sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
