#heading{
  font-size: calc(18px + 1vw);
  font-family: Questrial, sans-serif
}

.mediaHeading{
  overflow: hidden;
  font-size: calc(12px + 1vw); 
  font-weight: bold;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: calc(12px + 1vw);
  min-height: calc(24px + 2vw);
}

#wow{
  font-family: Lobster, sans-serif;
  font-size: calc(16px + 2vw) !important;
}

#nonEnglishHeading{
  overflow: hidden;
  font-size: calc(10px + 1vw);
  font-family: Questrial, sans-serif;
  line-height: calc(10px + 1vw);
  min-height: calc(20px + 2vw);
  flex: 1 0 auto;
}

#text{
  overflow: hidden;
  font-size: calc(10px + .8vw);
  font-family: Questrial, sans-serif;
  line-height: calc(10px + 1vw);
  flex: 1 0 auto;
}

#overview{
  overflow-y: scroll;
  font-size: calc(10px + .5vw);
  font-family: Questrial, sans-serif;
  line-height: calc(10px + .5vw);
  height: calc(20px + 1.5vw);
  flex: 1 0 auto;
}

@media screen and (max-width:675px){
  #overview{
  overflow-y: scroll;
  font-size: calc(10px + 1vw);
  font-family: Questrial, sans-serif;
  line-height: calc(10px + 1vw);
  height: calc(20px + 1.5vw);
  flex: 1 0 auto;
  margin: 1%
  }
}


