body {
  margin: 1%;
  font-family: Questrial, sans-serif;
}

.text{
  font-size: 20px;
}


/* #Lobster{
  font-family: Lobster, sans-serif;
}

#Questrial{
  font-family: Questrial, sans-serif;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
